In [2]:
using Queryverse, MLJ

In [5]:
dados = Queryverse.load("iris.csv") |> DataFrame
first(dados,6)

6×5 DataFrame
│ Row │ sepal.length │ sepal.width │ petal.length │ petal.width │ variety │
│     │ Float64      │ Float64     │ Float64      │ Float64     │ String  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼─────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ Setosa  │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ Setosa  │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ Setosa  │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ Setosa  │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ Setosa  │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ Setosa  │

In [8]:
coerce!(dados, autotype(dados))
first(dados,6)

6×5 DataFrame
│ Row │ sepal.length │ sepal.width │ petal.length │ petal.width │ variety      │
│     │ Float64      │ Float64     │ Float64      │ Float64     │ Categorical… │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ Setosa       │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ Setosa       │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ Setosa       │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ Setosa       │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ Setosa       │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ Setosa       │